@charset "UTF-8";
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: "Cabin", Arial, Geneva, sans-serif;
	background-image: url(../img/clouds.png);
	margin: 0px;
	padding: 0px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Niconne', cursive;
  font-weight: normal;
  color: #C80060;
}

.wrapper {
  margin: 0 auto;
  display: grid;
}

article img {
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
}

nav {
  background: url(../img/scallop.png) repeat-x;
}

nav ul.full-width {
  list-style-type: none;
  background-color: #e6bf98; 
  padding: .75em;
  margin: 12px 0 0 0;
  border-bottom: 3px solid #cc8850;
  overflow: auto;

}
/* splits nav into 2 columns*/
nav li:nth-child(even) {
  width: 50%;
  float: right;
  padding: 0.5em;
}
nav li:nth-child(odd) {
  width: 50%;
  float: left;
    padding: 0.5em;
}
nav a {
  color: #c80060;
  text-decoration: none;
  display: block;
  padding-left:3.333333%;
}
nav a:hover {
  color:#00c4c7;
}

.content,.gallery, .homepage{
  background-color: #fff6e0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1em;
}

.gallery ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
}

.gallery li {
  flex: auto;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
}

.floatleft {
  float: left;
  margin: 0 1em 1em 0;
}

.floatright {
  float: right;
  margin: 0 0 1em 1em;
}

[class*='sidebar'] {
  border: 1px solid #00c4c7;
  border-radius: 10px;
}

[class*='sidebar'] h3 {
  margin: 0;
  color: white;
  background-color: #00c4c7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 0.5em;
}

[class*='sidebar'] img {
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  display: block; 
} 

.sidebar-secondary {
  margin-top: 1em;
  border-color: #c80060;
}

.sidebar-secondary h3 {
  background-color: #c80060;
}

blockquote {
  padding: 0em;
  margin: 0;
}

blockquote p, 
blockquote cite {
  padding: 0 1em;
}

blockquote cite {
  text-transform: uppercase;
  font-style: normal;
  padding-bottom: 1em;
  display: block;
}

.gallery ul{
  list-style: none;
}


/* homepage */
.homepage {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
}

h3 {
  font-size: 2em;
}
h2 {
  font-size: 2.5em;
}

article p a {
  background: #c80060;
  text-decoration: none;
  display: inline-block;
  padding: 1.5%;
  color: white;
  border-radius: 20px;
  font-weight: bold;
}
footer {
  background-color: #00CDD1;
  color: white;
  clear: both;
  margin: 0 0.5em 3em 0.5em;
}

footer p {
  text-align: center;
}

footer img {
  width: 52px;
}

footer a {
  color: white;
  text-decoration: none;
}

/* Small devices (tablets and up) */
@media (min-width: 550px) { 
.wrapper {
  width: 97%;
  max-width: 767px;
  }

div.row {
  padding: 0 2em;
}
 nav li,
  nav li:nth-child(even),
  nav li:nth-child(odd) {
    display: inline-block;
    float: none;
    width: auto;
    padding: 0;
  }

  nav a {
    padding: 0em 1em;
  }

.content {
  display: grid;
  grid-gap: 1em;
}

.aside {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
}

.gallery li {
  flex: 0 0 50%;
}
/* homepage */
.heading {
  background: url(../img/header-850.jpg);
  height: 130px;
}



}
/* Large devices (large desktops and up) */
@media (min-width: 850px) { 
  .wrapper {
      width: 97%;
      max-width: 1200px;
      float: none;
      display: grid;
      grid-template-columns: 1fr;
  }

  h2 {
    font-size: 3em;
    border-bottom: 2px dotted #c80060;
  }

  h3 {
    font-size: 2em;
  }

  div.row {
    padding: 0;
  }

  nav li,
  nav li:nth-child(even),
  nav li:nth-child(odd) {
    display: inline-block;
    float: none;
    width: auto;
    padding: 0;
  }
  nav a {
      padding: 0em 1em;
  }
  .content{
  grid-template-columns: 3fr 1fr;
}
  .aside {
  display: block;
}

  .sidebar-primary {
  margin-bottom: 1em;
}

/* gallery */

  .gallery li {
  flex: 0 0 33.333%;
}

/* home-page */
.homepage {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}
.heading {
  background: url(../img/header-1200.jpg) no-repeat;
  height: 10em;
  
}
.heading {
  grid-column: 1/5;
  grid-row: 1/2;
}
.main {
  grid-column: 1/5;
  grid-row: 2/3;
}
.testimotional {
  grid-column: 1/2;
  grid-row: 3/4;
}

.mother-day {
  grid-column: 2/3;
  grid-row: 3/4;
}

.menu {
  grid-column: 3/4;
  grid-row: 3/4; 
}

.donation {
  grid-column: 4/5;
  grid-row: 3/4;
}
}